/* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #e9f6fb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 900px;
}

.calculator {
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Left 
.form-section {
  flex: 1;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  background: none;
  border: none;
  color: #0077aa;
  cursor: pointer;
}

.field {
  margin-top: 20px;
}

.field label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.row {
  display: flex;
  gap: 15px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.input-wrapper span {
  padding: 10px;
  background: #f2f2f2;
}

.input-wrapper input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.calculate-btn {
  width: 100%;
  margin-top: 25px;
  padding: 15px;
  background: #d4e619;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* Right 
.result-section {
  flex: 1;
  background: #143447;
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-section h3 {
  margin-bottom: 15px;
}
